<%- include('partials/header.ejs', { title: 'Overview', breadcrumbs: [] }); %>

<%- include('components/sidebar.ejs', { items: [{icon: 'layout-grid', title: 'Overview', link: '/mod', active: true}, {icon: 'flag', title: 'Reports', badge: '26', link: '/mod/reports'}, {icon: 'user-search', title: 'Search Users', link: '/mod/search'}] }); %>

<div class="grid flex-1 auto-cols-fr gap-y-8">
    <div class="grid gap-6 md:grid-cols-3">
        <%- include('components/statistic-card.ejs', { title: 'Reports Made', value: '+56', icon: 'flag', color: 'error' }); %>

        <%- include('components/statistic-card.ejs', { title: 'Accounts Created', value: '+827', icon: 'user-plus', color: 'success' }); %>

        <%- include('components/statistic-card.ejs', { title: 'Wealth Added', value: '+3M', icon: 'coins', color: 'warning' }); %>
    </div>

        </div>
    </div>
</div>

<%- include('partials/footer.ejs'); %>