<html>
<head>
    <%- include('partials/head-metadata.ejs', { title }); %>
</head>
<body class="bg-base-200">
    <%- include('partials/bg-image.ejs'); %>
        
    <%- include('partials/navbar'); %>

    <section class="container mx-auto flex flex-col gap-y-8 py-8 px-4 z-10 relative">
        <%- include('partials/breadcrumbs', { breadcrumbs }); %>

        <div class="flex flex-col gap-8 lg:flex-row lg:items-start">
            <%- include('components/sidebar.ejs', { items: sidebarItems }); %>

            <div class="grid flex-1 auto-cols-fr gap-y-8">
                <div class="grid gap-6 md:grid-cols-3">
                    <% exampleDashboardCards.forEach(card => { %>
                        <%- include('components/statistic-card.ejs', card); %>
                    <% }); %>
                </div>
            </div>
        </div>
    </section>
    <%- include('partials/footer.ejs'); %>
</body>
</html>