<html>
<head>
    <%- include('partials/head-metadata.ejs', { title }); %>
</head>
<body class="bg-base-200">
    <div class="absolute inset-0 saturate-50 opacity-10 blur-[2px] bg-[url('/img/mod-bg.webp')] bg-no-repeat bg-cover md:bg-contain max-h-[600px]" style="background-position: center top;"></div>
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-base-200 md:aspect-[1918/520] max-h-[600px]"></div>
    
    <%- include('partials/navbar'); %>

    <section class="container mx-auto flex flex-col gap-y-8 py-8 px-4 z-10 relative">
        <%- include('partials/breadcrumbs', { breadcrumbs }); %>

        <div class="flex flex-col gap-8 lg:flex-row lg:items-start">
            <%- include('components/sidebar.ejs', { items: sidebarItems }); %>

            <div class="grid flex-1 auto-cols-fr gap-y-8">
                <div class="grid gap-6 md:grid-cols-3">
                    <% exampleDashboardCards.forEach(card => { %>
                        <%- include('components/statistic-card.ejs', card); %>
                    <% }); %>
                </div>
            </div>
        </div>
    </section>
    <%- include('partials/footer.ejs'); %>
</body>
</html>