<html>
<head>
  <%- include('partials/head-metadata.ejs', { title }); %>
</head>
<body class="bg-base-200">
  <%- include('partials/bg-image.ejs'); %>
  <%- include('partials/navbar'); %>
  <section class="container mx-auto flex flex-col gap-y-8 py-8 px-4 z-10 relative">
    <%- include('partials/breadcrumbs', { breadcrumbs }); %>

    <div class="flex flex-col gap-8 lg:flex-row lg:items-start">
      <%- include('components/sidebar.ejs', { items: sidebarItems }); %>

      <div class="grid flex-1 auto-cols-fr gap-y-8">
        <div class="card bg-base-100 w-full">
          <div class="p-4">
            <%- include('components/tabs.ejs', { tabs: generatedTabs }); %>
          </div>

          <div class="overflow-x-auto md:overflow-visible">
            (Load tab content from partial)
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('../_scripts/mod/searchable-table', ); %>
  <%- include('partials/footer.ejs'); %>
</body>

</html>