<html>

<head>
    <%- include('partials/head-metadata.ejs', { title }); %>
</head>

<body class="bg-base-200">
    <%- include('partials/bg-image.ejs'); %>
    <%- include('partials/navbar'); %>

    <section class="container mx-auto flex flex-col gap-y-8 py-8 px-4 z-10 relative">
        <%- include('partials/breadcrumbs', { breadcrumbs }); %>

        <div class="flex flex-col gap-8 lg:flex-row lg:items-start">
            <%- include('components/sidebar.ejs', { items: sidebarItems }); %>

            <div class="grid flex-1 auto-cols-fr gap-y-8">
                <div class="card bg-base-100 w-full">
                    <div class="p-4">
                        <h2 class="text-lg font-bold">Filter:</h2>

                        <form class="flex flex-wrap flex-row items-end gap-2" method="get">
                            <%- include('components/filter-input', {
                                icon: 'user',
                                label: 'Reporter',
                                name: 'username',
                                value: filters.username,
                                type: 'search',
                                placeholder: 'Username...'
                            }) %>

                            <%- include('components/filter-input', {
                                icon: 'user',
                                label: 'Offender',
                                name: 'offender',
                                value: filters.offender,
                                type: 'search',
                                placeholder: 'Username...'
                            }) %>

                            <%- include('components/filter-select', {
                                icon: 'gavel',
                                label: 'Reasons',
                                name: 'reason',
                                options: reasons,
                                selected: filters.reason
                            }) %>

                            <%- include('components/filter-input', { 
                                icon: 'calendar',
                                label: 'Start Date',
                                name: 'start',
                                value: filters.start,
                                type: 'date',
                                placeholder: ''
                            }) %>

                            <%- include('components/filter-input', { 
                                icon: 'calendar',
                                label: 'End Date',
                                name: 'end',
                                value: filters.end,
                                type: 'date',
                                placeholder: ''
                            }) %>

                            <%- include('components/filter-hidden-inputs', { sort: filters.sort, order: filters.order, limit }); %>
                            <%- include('components/filter-buttons', { link: '/mod/reports' }); %>
                        </form>
                    </div>

                    <div class="overflow-x-auto md:overflow-visible">
                        <table class="table">
                            <thead class="bg-white/5">
                                <tr>
                                    <%- include('components/table-header', { sort: 'username', label: 'Reporter', filters, filtersQuery: buildQueryString(filters, ['sort', 'order']), defaultSort: 'timestamp', defaultOrder: 'desc' }) %>
                                    <%- include('components/table-header', { sort: 'offender', label: 'Offender', filters, filtersQuery: buildQueryString(filters, ['sort', 'order']), defaultSort: 'timestamp', defaultOrder: 'desc' }) %>
                                    <%- include('components/table-header', { sort: 'reason', label: 'Reason', filters, filtersQuery: buildQueryString(filters, ['sort', 'order']), defaultSort: 'timestamp', defaultOrder: 'desc' }) %>
                                    <%- include('components/table-header', { sort: 'world', label: 'World', filters, filtersQuery: buildQueryString(filters, ['sort', 'order']), defaultSort: 'timestamp', defaultOrder: 'desc' }) %>
                                    <th>Coords</th>
                                    <%- include('components/table-header', { sort: 'timestamp', label: 'Date', filters, filtersQuery: buildQueryString(filters, ['sort', 'order']), defaultSort: 'timestamp', defaultOrder: 'desc' }) %>
                                </tr>
                            </thead>
                            <tbody>
                                <% reports.forEach(function(report) { %>
                                <tr>
                                    <td>
                                        <a href="/mod/overview/<%= report.username %>" class="text-lg font-semibold link link-hover text-stone-300">
                                            <%= toDisplayName(report.username) %>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/mod/overview/<%= report.offender %>" class="text-lg font-semibold link link-hover text-red-300">
                                            <%= toDisplayName(report.offender) %>
                                        </a>
                                    </td>
                                    <td>
                                        <%
                                        const reasonIcons = [
                                            'whole-word',
                                            'swords',
                                            'key-round',
                                            'bug',
                                            'crown',
                                            'hand-helping',
                                            'bot',
                                            'users',
                                            'scale',
                                            'life-buoy',
                                            'megaphone',
                                            'banknote'
                                        ];
                                        %>

                                        <div class="flex items-center gap-x-2 leading-none">
                                            <i data-lucide="<%= reasonIcons[report.reason] %>" class="size-5 text-stone-400"></i>

                                            <%= reasons[report.reason] %>
                                        </div>
                                    </td>
                                    <td><%= report.world - 9 %></td>
                                    <td>
                                        <a target="_blank" href="<%= embedCoord(report.coord) %>" class="link">
                                            <%= toDisplayCoord(report.coord) %>
                                        </a>
                                    </td>
                                    <td>
                                        <div class="md:tooltip" data-tip="<%= formatTime(report.timestamp) %>">
                                            <%= fromNow(report.timestamp) %>
                                        </div>
                                    </td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>

                    <%- include('components/pagination.ejs', { currentPage: currentPage, totalPages: totalPages, filters, filtersQuery: buildQueryString(filters, ['page']), limit }); %>
                </div>
            </div>
        </div>
    </section>
    <%- include('partials/footer.ejs'); %>
</body>

</html>