<html>

<head>
    <%- include('partials/head-metadata.ejs', { title }); %>
</head>

<body class="bg-base-200">
    <%- include('partials/bg-image.ejs'); %>
    <%- include('partials/navbar'); %>

    <section class="container mx-auto flex flex-col gap-y-8 py-8 px-4 z-10 relative">
        <%- include('partials/breadcrumbs', { breadcrumbs }); %>

        <div class="flex flex-col gap-8 lg:flex-row lg:items-start">
            <%- include('components/sidebar.ejs', { items: sidebarItems }); %>

            <div class="grid flex-1 auto-cols-fr gap-y-8">
                <div class="card bg-base-100 w-full">
                    <div class="p-4">
                        <h2 class="text-lg font-bold">Filter:</h2>

                        <form class="flex flex-wrap flex-row items-end gap-2" method="get">
                            <%- include('components/filter-input', {
                                icon: 'user',
                                label: 'Username',
                                name: 'username',
                                value: filters.username,
                                type: 'search',
                                placeholder: 'Username...'
                            }) %>

                            <%- include('components/filter-select', {
                                icon: 'circle-check-big',
                                label: 'Active Status',
                                name: 'active',
                                options: [ // TODO: Change this to use values
                                    'Logged In',
                                    'Logged Out'
                                ],
                                selected: filters.active
                            }) %>

                            <%- include('components/filter-input', {
                                icon: 'globe',
                                label: 'IP',
                                name: 'ip',
                                value: filters.ip,
                                type: 'search',
                                placeholder: 'IP Address...'
                            }) %>

                            <%- include('components/filter-input', {
                                icon: 'monitor-smartphone',
                                label: 'UID',
                                name: 'uid',
                                value: filters.uid,
                                type: 'search',
                                placeholder: 'UID...'
                            }) %>

                            <%- include('components/filter-input', { 
                                icon: 'calendar',
                                label: 'Registered After',
                                name: 'start',
                                value: filters.start,
                                type: 'date',
                                placeholder: ''
                            }) %>

                            <%- include('components/filter-input', { 
                                icon: 'calendar',
                                label: 'Registered Before',
                                name: 'end',
                                value: filters.end,
                                type: 'date',
                                placeholder: ''
                            }) %>

                            <%- include('components/filter-hidden-inputs', { sort: filters.sort, order: filters.order, limit }); %>
                            <%- include('components/filter-buttons', { link: '/mod/users' }); %>
                        </form>
                    </div>

                    <div class="overflow-x-auto md:overflow-visible">
                        <table class="table">
                            <thead class="bg-white/5">
                                <tr>
                                    <%- include('components/table-header', { sort: 'username', label: 'Username', filters, filtersQuery: buildQueryString(filters, ['sort', 'order']), defaultSort: 'registration_date', defaultOrder: 'desc' }) %>
                                    <th>IP Address</th>
                                    <th>UID</th>
                                    <%- include('components/table-header', { sort: 'timestamp', label: 'Last Login', filters, filtersQuery: buildQueryString(filters, ['sort', 'order']), defaultSort: 'registration_date', defaultOrder: 'desc' }) %>
                                    <%- include('components/table-header', { sort: 'registration_date', label: 'Registration', filters, filtersQuery: buildQueryString(filters, ['sort', 'order']), defaultSort: 'registration_date', defaultOrder: 'desc' }) %>
                                </tr>
                            </thead>
                            <tbody>
                                <% accounts.forEach(function(account) { %>
                                <tr>
                                    <td class="flex items-center gap-x-3">
                                        <div class="md:tooltip"
                                            data-tip="<%= account.logged_in ? 'Logged In' : 'Logged Out' %>">
                                            <%- account.logged_in ? '<i data-lucide="circle-check-big" class="size-5 text-green-600"></i>' : '<i data-lucide="circle-minus" class="size-5 text-gray-400"></i>' %>
                                        </div>

                                        <a href="/mod/overview/<%= account.username %>"
                                            class="text-xl font-bold link link-hover">
                                            <%= toDisplayName(account.username) %>
                                        </a>
                                    </td>
                                    <td>
                                        <div class="flex flex-col">
                                            <div>
                                                <span class="text-stone-300 font-semibold">Registration:</span>

                                                <a href="?<%= buildQueryString(filters, ['page', 'ip']) ? buildQueryString(filters, ['page', 'ip']) + '&' : '' %>ip=<%= account.registration_ip %>"
                                                    class="link link-hover">
                                                    <%= account.registration_ip %>
                                                </a>
                                            </div>

                                            <div>
                                                <span class="text-stone-300 font-semibold">Last Session:</span>

                                                <a href="?<%= buildQueryString(filters, ['page', 'ip']) ? buildQueryString(filters, ['page', 'ip']) + '&' : '' %>ip=<%= account.ip %>"
                                                    class="link link-hover">
                                                    <%= account.ip %>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="?<%= buildQueryString(filters, ['page', 'uid']) ? buildQueryString(filters, ['page', 'uid']) + '&' : '' %>uid=<%= account.uid %>"
                                            class="link link-hover">
                                            <%= account.uid %>
                                        </a>
                                    <td>
                                        <% if (account.timestamp) { %>
                                        <div class="md:tooltip" data-tip="<%= formatTime(account.timestamp) %>">
                                            <%= fromNow(account.timestamp) %>
                                        </div>
                                        <% } else { %>
                                        N/A
                                        <% } %>
                                    </td>
                                    <td>
                                        <%= formatTime(account.registration_date) %>
                                    </td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>

                    <%- include('components/pagination.ejs', { currentPage: currentPage, totalPages: totalPages, filters, filtersQuery: buildQueryString(filters, ['page']), limit }); %>
                </div>
            </div>
        </div>
    </section>
    <%- include('partials/footer.ejs'); %>
</body>

</html>