<div class="flex flex-col gap-y-4">
    <div class="flex items-center gap-3">
        <i data-lucide="network" class="text-stone-400 size-7"></i>

        <h1 class="text-3xl font-semibold">
            Sessions
        </h1>
    </div>

    <div class="card bg-base-100 w-full">
        <div class="p-4">
            <h2 class="text-lg font-bold">Filter:</h2>

            <form class="flex flex-wrap flex-row items-end gap-2" method="get">
                <%- include('mod/components/filter-input', {
                    icon: 'globe',
                    label: 'World',
                    name: 'world',
                    value: filters.world,
                    type: 'text',
                    placeholder: 'World...'
                }) %>

                <%- include('mod/components/filter-input', {
                    icon: 'globe',
                    label: 'IP',
                    name: 'ip',
                    value: filters.ip,
                    type: 'text',
                    placeholder: 'IP Address...'
                }) %>

                <%- include('mod/components/filter-input', {
                    icon: 'monitor-smartphone',
                    label: 'UID',
                    name: 'uid',
                    value: filters.uid,
                    type: 'text',
                    placeholder: 'UID...'
                }) %>

                <%- include('mod/components/filter-input', {
                    icon: 'calendar',
                    label: 'Start Date',
                    name: 'start',
                    value: filters.start,
                    type: 'date',
                    placeholder: ''
                }); %>

                <%- include('mod/components/filter-input', {
                    icon: 'calendar',
                    label: 'End Date',
                    name: 'end',
                    value: filters.end,
                    type: 'date',
                    placeholder: ''
                }); %>

                <%- include('mod/components/filter-hidden-inputs', { sort: filters.sort, order: filters.order, limit }); %>
                <%- include('mod/components/filter-buttons', { link: `/mod/overview/sessions/${account.username}` }); %>
            </form>
        </div>

        <div class="overflow-x-auto md:overflow-visible">
            <table class="table">
                <thead class="bg-white/5">
                    <tr>
                        <%- include('mod/components/table-header', { sort: 'world', label: 'World', filters, filtersQuery: buildQueryString(filters, ['sort', 'order']), defaultSort: 'timestamp', defaultOrder: 'desc' }) %>
                        <th>IP</th>
                        <th>UID</th>
                        <%- include('mod/components/table-header', { sort: 'timestamp', label: 'Date', filters, filtersQuery: buildQueryString(filters, ['sort', 'order']), defaultSort: 'timestamp', defaultOrder: 'desc' }) %>
                    </tr>
                </thead>
                <tbody>
                    <% sessions.forEach((session) => { %>
                    <tr>
                        <td class="font-bold"><%= session.world - 9 %></td>
                        <td>
                            <a href="/mod/users?ip=<%= session.ip %>" class="link link-hover">
                                <%= session.ip %>
                            </a>
                        </td>
                        <td>
                            <a href="/mod/users?uid=<%= session.uid %>" class="link link-hover">
                                <%= session.uid %>
                            </a>
                        </td>
                        <td>
                            <div class="md:tooltip" data-tip="<%= formatTime(session.timestamp) %>">
                                <%= fromNow(session.timestamp) %>
                            </div>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>

        <%- include('mod/components/pagination', { currentPage: currentPage, totalPages: totalPages, filters, filtersQuery: buildQueryString(filters, ['page']), limit }); %>
    </div>
</div>