<div class="hidden w-72 flex-col md:flex">
    <ul class="flex flex-col gap-y-1">
        <% items.forEach(function(item) { %>
        <li>
            <a href="<%= item.link %>"
                class="relative flex items-center justify-center gap-x-3 rounded-lg px-3 py-2 <%= item.active ? 'bg-base-300' : 'bg-base-100' %> hover:bg-base-300">
                <% if (item.icon) { %>
                <i data-lucide="<%= item.icon %>" class="size-5 text-stone-400"></i>
                <% } %>

                <span class="flex-1 truncate font-medium"><%= item.title %></span>

                <% if (item.badge) { %>
                <div class="badge badge-sm badge-warning font-bold"><%= item.badge %></div>
                <% } %>
            </a>
        </li>
        <% }); %>
    </ul>
</div>

<div class="dropdown dropdown-end">
    <div tabindex="0" role="button" class="btn btn-primary md:hidden w-full">
        Links <i data-lucide="chevron-down" class="size-6"></i>
    </div>
    <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-300 rounded-box z-1 mt-3 w-full p-2 shadow gap-y-1">
        <% items.forEach(function(item) { %>
        <li>
            <a href="<%= item.link %>"
                class="relative flex items-center justify-center gap-x-3 rounded-lg px-3 py-2 <%= item.active ? 'bg-base-200' : 'bg-base-300' %> hover:bg-base-300">
                <% if (item.icon) { %>
                <i data-lucide="<%= item.icon %>" class="size-5 text-stone-400"></i>
                <% } %>

                <span class="flex-1 truncate font-medium"><%= item.title %></span>

                <% if (item.badge) { %>
                <div class="badge badge-sm badge-warning font-bold"><%= item.badge %></div>
                <% } %>
            </a>
        </li>
        <% }); %>
    </ul>
</div>